@import "tailwindcss";

.text-shadow {
    background: linear-gradient(to right, #d0ff00, #7bff2e, #00ff8c);
    filter: drop-shadow(0 0 20px rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 50;
    position: relative;
    -webkit-text-stroke: 2px rgba(0,0,0,1);
}

.text-shadow::after {
    content: var(--shadow-text, '');
    position: absolute;
    background: none;
    -webkit-text-stroke: 2px rgba(0,0,0,0);
    color: transparent;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    text-shadow:
        6px 6px 16px rgba(0, 0, 0, 0.9), 
        -1px -1px 2px rgba(0, 255, 0, 0.8),
        0 0 20px rgba(0, 0, 0, 0.9);
}

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}


.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

.explosion {
    width: 32px;
    height: 32px;
    background-image: url('../../images/spritesheet.png');
    background-repeat: no-repeat;
    image-rendering: pixelated; 
    z-index: 50;
    position: absolute;
}

